.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color : #ffffff;
    font-size : 36pt;
    text-decoration : none;
}

.content {
    margin-left : 30px;
}

.save {
    float : right;
}

.post-form textarea, .post-form input {
    width : 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color : #ffffff;
    float : right;
    font-size : 26pt;
    margin-right : 20px;
}

.post {
    margin-bottom : 30px;
}

.post .post_warning h5, h6 {
    color : red;
}

.post .post_delete a {
    color : red;
}

.comment {
    margin : 20px 0px 20px 20px;
}

.No_comment p {
    margin : 20px 0px 20px 0px;
}

.login .login_button input {
    margin-top : 0.3cm;
    margin-left : 1cm;
    width : 5.2cm;
}

.post .btn span {
    width : 0.6cm;
}