{% extends "blog/base.html" %}

{% block content %}
    {% if form.errors %}
        <p style="color:red;" class="m">이름과 비밀번호가 일치하지 않습니다. 다시 시도해주세요.</p>
    {% endif %}

    <div class="about_log_in">
        <h4>제작자 인증</h4>
    </div><hr/>

    <form method="post" class="login" action="{% url 'login' %}">
    {% csrf_token %}
        <table>
            <tr>
                <td>아이디 :</td>
                <div class="login_textbox1">
                    <td>{{ form.username }}</td>
                </div>
            </tr>
            <tr>
                <td>비밀번호 :</td>
                <div class="login_textbox2">
                    <td>{{ form.password }}</td>
                </div>
            </tr>
        </table>
        <div class="login_button">
            <input type="submit" value="login" class="btn btn-outline-secondary" />
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
    </form>
{% endblock %}