{% extends "blog/base.html" %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                <p>{{ post.published_date }}</p>
            </div>
        {% else %}
            <div class="post_warning">
                <h4>이 글은 아직 게시 되지 않았습니다</h4>
                <h5>(게시할려면 아래에 게시 버튼을 누르세요)</h5>
            </div>
            <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">게시</a>
        {% endif %}

        <div class="btn">
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>

            <a class="btn btn-default",
                onclick="return confirm('Are you sure?')", 
                href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>
           
        <div class="post_detail_class_name">
            <h1>{{ post.title }}</h1>
        </div>

        <hr/>

        <p>{{ post.text|linebreaksbr }}</p>
    </div>

    <hr/>
    <div class="post_detail_class_name">
        <h3>댓글</h3>
        <hr/>
    </div>

    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">댓글 등록</a>

    {% for comment in post.comments.all %}
        <div class="comment">
            <div class="date"><p>{{ comment.created_date }}</p></div>
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaks }}</p>
        </div>
        <hr/>
    {% empty %}
        <div class="No_comment">
            <p>댓글이 아직 없습니다</p>
        </div>
    {% endfor %}
{% endblock %}
