{% extends "blog/base.html" %}

{% block content %}
    <p></p>
    <h2>제작자가 추천하는 유튜브 채널</h2>
    <p></p>
    <div class="row">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Minos</h5>
                <p class="card-text">특별한 사람들이 모인 채널! 지금 구독을 통해 미노스 식구가 되어보세요 윱멘</p>
                <p class="card-text">구독자수 : 11만</p>
                <a target="_blank" href="https://www.youtube.com/channel/UCUiueY5_an4zZCZXdkuq_cA" class="btn btn-primary">채널 바로가기</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">과학쿠키 [Science Cookie]</h5>
                <p class="card-text">인문학 수준으로의 과학의 대중화를 꿈꾸며, 지적 호기심에 목마른 학생부터 성인까지 넓은 구독자층의 지적 호기심을 채워드리기 위한 자연과학 관련 영상을 기획, 제작하는 크리에이터입니다. 과학 + 쿠키영상의 [Science+Cookies]의 의미로, 누구나 부담 없이 만날 수 있는 재미있는 과학 이야기를 전달하여 많은 사람들로 하여금 과학의 재미를 느낄 수 있는 문화의 장을 만드는 것을 목표로 컨텐츠를 제작하고 있습니다.</p>
                <p class="card-text">구독자수 : 10만</p>
                <a target="_blank" href="https://www.youtube.com/channel/UCmgRYMK5d65PbjN8qkjAUBA" class="btn btn-primary">채널 바로가기</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">ITSub잇섭</h5>
                <p class="card-text">안녕하세요! 전자기기를 좋아하는 잇섭(ITSub)입니다. 전자기기를 너무너무 좋아하는지라 유튜브를 시작하게 되었는데, 모든 전자기기 분야에서 전문가 수준까지는 알지 못하지만, 구독자분들과 소통하며 배워나가도록 하겠습니다!</p>
                <p class="card-text">구독자수 : 32만</p>
                <a target="_blank" href="https://www.youtube.com/channel/UCdUcjkyZtf-1WJyPPiETF1g" class="btn btn-primary">채널 바로가기</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">타임스낵</h5>
                <p class="card-text">안녕하세요, 시간을 먹는 과자 타임스낵입니다. 등하교 시간, 출퇴근 시간, 쉬는시간, 점심시간, 똥싸는 시간, 자기 전 시간처럼뭔가 하기 애매~한 시간이 생긴다면 제 영상을 과자처럼 간단하게 즐겨주세요 여러분이 힘들 때나, 우울할 때나, 행복할 때나, 즐거울 때나, 비가오나, 눈이오나언제나 흥미로운 과자를 배달해드리겠습니다 유머, 랭킹, 정보, 이슈, 미스터리, 모음 등등 주제 가리지 않고 맛있는 과자들이 만들어지니 꼭 구독과 알람 설정하시고 꿀맛 과자 배부르게 챙겨드세요!! 하트와 답글 힘이 닿는대로 최대한 써드리고 있으니 댓글과 좋아요 많이많이 부탁드려요 :-)</p>
                <p class="card-text">구독자수 : 정보 없음</p>
                <a target="_blank" href="https://www.youtube.com/channel/UCvi7EYzMlfSB0ZkX55i5LlA" class="btn btn-primary">채널 바로가기</a>
            </div>
        </div>
    </div>
    <p></p>
{% endblock %}